<div class="flex flex-row gap-4 bg-surface-200 dark:bg-surface-950 max-h-[42rem]">
    <div class="flex-1 flex items-center justify-center">
        <div class="p-12">
            <div class="flex flex-col justify-center items-center text-3xl">
                <img src="assets/images/logo.png" class="w-24 h-auto" alt="">
                <span class="logo pt-2 px-2 text-center"><strong>VIVIAN XAVIER</strong></span>
            </div>
            <h1 class="text-3xl lg:text-5xl font-bold text-surface-900 dark:text-surface-0 mb-4 lg:leading-normal text-center lg:text-left">
                Defendendo seus direitos <br /><span class="text-blue-500 dark:text-[#c1a980]">com eficiência e compromisso</span>
            </h1>
            <p class="text-surface-700 dark:text-surface-200 leading-normal mb-8 text-center lg:text-left">
                Especialista em direito trabalhista e cível. Soluções jurídicas personalizadas para você e sua empresa.
            </p>
            <div class="flex items-center justify-center lg:justify-start gap-6">
                <p-button label="Agende uma Consulta" styleClass="dark:bg-[#c1a980] border-0" type="button" />
            </div>
        </div>
    </div>
    <div class="flex-1 overflow-hidden">
        <img src="assets/images/perfil.jpg" alt="hero-1" class="max-h-full lg:max-h-none lg:max-w-[55vw] h-auto w-auto object-contain [clip-path:polygon(12%_0,100%_0%,100%_100%,0_100%)]" />
    </div>
</div>